/*
RezKit Tours Manager

An application for managing small group tour products

API version: 2026.05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tourmanager

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItineraryAPIService ItineraryAPI service
type ItineraryAPIService service

type ApiCreateItineraryEntryRequest struct {
	ctx context.Context
	ApiService *ItineraryAPIService
	versionId string
	itineraryEntryProperties *ItineraryEntryProperties
}

func (r ApiCreateItineraryEntryRequest) ItineraryEntryProperties(itineraryEntryProperties ItineraryEntryProperties) ApiCreateItineraryEntryRequest {
	r.itineraryEntryProperties = &itineraryEntryProperties
	return r
}

func (r ApiCreateItineraryEntryRequest) Execute() (*ItineraryEntry, *http.Response, error) {
	return r.ApiService.CreateItineraryEntryExecute(r)
}

/*
CreateItineraryEntry Create Itinerary Entry

Create a new itinerary entry

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param versionId Holiday Version ID
 @return ApiCreateItineraryEntryRequest
*/
func (a *ItineraryAPIService) CreateItineraryEntry(ctx context.Context, versionId string) ApiCreateItineraryEntryRequest {
	return ApiCreateItineraryEntryRequest{
		ApiService: a,
		ctx: ctx,
		versionId: versionId,
	}
}

// Execute executes the request
//  @return ItineraryEntry
func (a *ItineraryAPIService) CreateItineraryEntryExecute(r ApiCreateItineraryEntryRequest) (*ItineraryEntry, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItineraryEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItineraryAPIService.CreateItineraryEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/versions/{version_id}/itinerary"
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.versionId) < 26 {
		return localVarReturnValue, nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return localVarReturnValue, nil, reportError("versionId must have less than 26 elements")
	}
	if r.itineraryEntryProperties == nil {
		return localVarReturnValue, nil, reportError("itineraryEntryProperties is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.itineraryEntryProperties
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteItineraryEntryRequest struct {
	ctx context.Context
	ApiService *ItineraryAPIService
	versionId string
	entryId string
}

func (r ApiDeleteItineraryEntryRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteItineraryEntryExecute(r)
}

/*
DeleteItineraryEntry Delete an Itinerary Entry

Delete an Itinerary Entry

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param versionId Holiday Version ID
 @param entryId Itinerary Entry ID
 @return ApiDeleteItineraryEntryRequest
*/
func (a *ItineraryAPIService) DeleteItineraryEntry(ctx context.Context, versionId string, entryId string) ApiDeleteItineraryEntryRequest {
	return ApiDeleteItineraryEntryRequest{
		ApiService: a,
		ctx: ctx,
		versionId: versionId,
		entryId: entryId,
	}
}

// Execute executes the request
func (a *ItineraryAPIService) DeleteItineraryEntryExecute(r ApiDeleteItineraryEntryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItineraryAPIService.DeleteItineraryEntry")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/versions/{version_id}/itinerary/{entry_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"entry_id"+"}", url.PathEscape(parameterValueToString(r.entryId, "entryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.versionId) < 26 {
		return nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return nil, reportError("versionId must have less than 26 elements")
	}
	if strlen(r.entryId) < 26 {
		return nil, reportError("entryId must have at least 26 elements")
	}
	if strlen(r.entryId) > 26 {
		return nil, reportError("entryId must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListItineraryEntriesRequest struct {
	ctx context.Context
	ApiService *ItineraryAPIService
	versionId string
	page *int32
	limit *int32
	order *SortOrder
	sort *string
	trash *int32
	published *int32
}

// Page number
func (r ApiListItineraryEntriesRequest) Page(page int32) ApiListItineraryEntriesRequest {
	r.page = &page
	return r
}

// Maximum number of results to return
func (r ApiListItineraryEntriesRequest) Limit(limit int32) ApiListItineraryEntriesRequest {
	r.limit = &limit
	return r
}

// Sort order
func (r ApiListItineraryEntriesRequest) Order(order SortOrder) ApiListItineraryEntriesRequest {
	r.order = &order
	return r
}

// Sort field
func (r ApiListItineraryEntriesRequest) Sort(sort string) ApiListItineraryEntriesRequest {
	r.sort = &sort
	return r
}

// View trash instead of active records if true
func (r ApiListItineraryEntriesRequest) Trash(trash int32) ApiListItineraryEntriesRequest {
	r.trash = &trash
	return r
}

// Filter holidays by their publish state
func (r ApiListItineraryEntriesRequest) Published(published int32) ApiListItineraryEntriesRequest {
	r.published = &published
	return r
}

func (r ApiListItineraryEntriesRequest) Execute() (*ListItineraryEntries200Response, *http.Response, error) {
	return r.ApiService.ListItineraryEntriesExecute(r)
}

/*
ListItineraryEntries List Itinerary Entries

List Itinerary entries for a Holiday Version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param versionId Holiday Version ID
 @return ApiListItineraryEntriesRequest
*/
func (a *ItineraryAPIService) ListItineraryEntries(ctx context.Context, versionId string) ApiListItineraryEntriesRequest {
	return ApiListItineraryEntriesRequest{
		ApiService: a,
		ctx: ctx,
		versionId: versionId,
	}
}

// Execute executes the request
//  @return ListItineraryEntries200Response
func (a *ItineraryAPIService) ListItineraryEntriesExecute(r ApiListItineraryEntriesRequest) (*ListItineraryEntries200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListItineraryEntries200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItineraryAPIService.ListItineraryEntries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/versions/{version_id}/itinerary"
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.versionId) < 26 {
		return localVarReturnValue, nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return localVarReturnValue, nil, reportError("versionId must have less than 26 elements")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "start_day"
		r.sort = &defaultValue
	}
	if r.trash != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trash", r.trash, "form", "")
	}
	if r.published != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published", r.published, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateItineraryEntryRequest struct {
	ctx context.Context
	ApiService *ItineraryAPIService
	versionId string
	entryId string
	itineraryEntryParams *ItineraryEntryParams
}

func (r ApiUpdateItineraryEntryRequest) ItineraryEntryParams(itineraryEntryParams ItineraryEntryParams) ApiUpdateItineraryEntryRequest {
	r.itineraryEntryParams = &itineraryEntryParams
	return r
}

func (r ApiUpdateItineraryEntryRequest) Execute() (*ItineraryEntry, *http.Response, error) {
	return r.ApiService.UpdateItineraryEntryExecute(r)
}

/*
UpdateItineraryEntry Update Itinerary Entry

Update an existing itinerary entry

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param versionId Holiday Version ID
 @param entryId Itinerary Entry ID
 @return ApiUpdateItineraryEntryRequest
*/
func (a *ItineraryAPIService) UpdateItineraryEntry(ctx context.Context, versionId string, entryId string) ApiUpdateItineraryEntryRequest {
	return ApiUpdateItineraryEntryRequest{
		ApiService: a,
		ctx: ctx,
		versionId: versionId,
		entryId: entryId,
	}
}

// Execute executes the request
//  @return ItineraryEntry
func (a *ItineraryAPIService) UpdateItineraryEntryExecute(r ApiUpdateItineraryEntryRequest) (*ItineraryEntry, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItineraryEntry
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItineraryAPIService.UpdateItineraryEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/versions/{version_id}/itinerary/{entry_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"entry_id"+"}", url.PathEscape(parameterValueToString(r.entryId, "entryId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.versionId) < 26 {
		return localVarReturnValue, nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return localVarReturnValue, nil, reportError("versionId must have less than 26 elements")
	}
	if strlen(r.entryId) < 26 {
		return localVarReturnValue, nil, reportError("entryId must have at least 26 elements")
	}
	if strlen(r.entryId) > 26 {
		return localVarReturnValue, nil, reportError("entryId must have less than 26 elements")
	}
	if r.itineraryEntryParams == nil {
		return localVarReturnValue, nil, reportError("itineraryEntryParams is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.itineraryEntryParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
