/*
RezKit Tours Manager

An application for managing small group tour products

API version: 2026.05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tourmanager

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// HolidaysAPIService HolidaysAPI service
type HolidaysAPIService service

type ApiAddRelatedHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
	addRelatedHolidayRequest *AddRelatedHolidayRequest
}

func (r ApiAddRelatedHolidayRequest) AddRelatedHolidayRequest(addRelatedHolidayRequest AddRelatedHolidayRequest) ApiAddRelatedHolidayRequest {
	r.addRelatedHolidayRequest = &addRelatedHolidayRequest
	return r
}

func (r ApiAddRelatedHolidayRequest) Execute() (*HolidayEdge, *http.Response, error) {
	return r.ApiService.AddRelatedHolidayExecute(r)
}

/*
AddRelatedHoliday Add Related Holiday

Create a relationship between two holidays.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAddRelatedHolidayRequest
*/
func (a *HolidaysAPIService) AddRelatedHoliday(ctx context.Context, id string) ApiAddRelatedHolidayRequest {
	return ApiAddRelatedHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return HolidayEdge
func (a *HolidaysAPIService) AddRelatedHolidayExecute(r ApiAddRelatedHolidayRequest) (*HolidayEdge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayEdge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.AddRelatedHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}/relations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}
	if r.addRelatedHolidayRequest == nil {
		return localVarReturnValue, nil, reportError("addRelatedHolidayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addRelatedHolidayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCopyHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
}

func (r ApiCopyHolidayRequest) Execute() (*Holiday, *http.Response, error) {
	return r.ApiService.CopyHolidayExecute(r)
}

/*
CopyHoliday Copy Holiday

Create a copy of an existing holiday.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Holiday ID
 @return ApiCopyHolidayRequest
*/
func (a *HolidaysAPIService) CopyHoliday(ctx context.Context, id string) ApiCopyHolidayRequest {
	return ApiCopyHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Holiday
func (a *HolidaysAPIService) CopyHolidayExecute(r ApiCopyHolidayRequest) (*Holiday, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Holiday
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.CopyHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	createHolidayRequest *CreateHolidayRequest
}

// New Holiday Payload
func (r ApiCreateHolidayRequest) CreateHolidayRequest(createHolidayRequest CreateHolidayRequest) ApiCreateHolidayRequest {
	r.createHolidayRequest = &createHolidayRequest
	return r
}

func (r ApiCreateHolidayRequest) Execute() (*Holiday, *http.Response, error) {
	return r.ApiService.CreateHolidayExecute(r)
}

/*
CreateHoliday Create Holiday

Create a new Holiday

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateHolidayRequest
*/
func (a *HolidaysAPIService) CreateHoliday(ctx context.Context) ApiCreateHolidayRequest {
	return ApiCreateHolidayRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Holiday
func (a *HolidaysAPIService) CreateHolidayExecute(r ApiCreateHolidayRequest) (*Holiday, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Holiday
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.CreateHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createHolidayRequest == nil {
		return localVarReturnValue, nil, reportError("createHolidayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createHolidayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
}

func (r ApiDeleteHolidayRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteHolidayExecute(r)
}

/*
DeleteHoliday Delete holiday

Delete a holiday. Places the holiday into the trash where it will be automatically deleted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Holiday ID
 @return ApiDeleteHolidayRequest
*/
func (a *HolidaysAPIService) DeleteHoliday(ctx context.Context, id string) ApiDeleteHolidayRequest {
	return ApiDeleteHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *HolidaysAPIService) DeleteHolidayExecute(r ApiDeleteHolidayRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.DeleteHoliday")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return nil, reportError("id must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteRelatedHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
	relation string
}

func (r ApiDeleteRelatedHolidayRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRelatedHolidayExecute(r)
}

/*
DeleteRelatedHoliday Delete Relation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param relation
 @return ApiDeleteRelatedHolidayRequest
*/
func (a *HolidaysAPIService) DeleteRelatedHoliday(ctx context.Context, id string, relation string) ApiDeleteRelatedHolidayRequest {
	return ApiDeleteRelatedHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		relation: relation,
	}
}

// Execute executes the request
func (a *HolidaysAPIService) DeleteRelatedHolidayExecute(r ApiDeleteRelatedHolidayRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.DeleteRelatedHoliday")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}/relations/{relation}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"relation"+"}", url.PathEscape(parameterValueToString(r.relation, "relation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return nil, reportError("id must have less than 26 elements")
	}
	if strlen(r.relation) < 26 {
		return nil, reportError("relation must have at least 26 elements")
	}
	if strlen(r.relation) > 26 {
		return nil, reportError("relation must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
}

func (r ApiGetHolidayRequest) Execute() (*Holiday, *http.Response, error) {
	return r.ApiService.GetHolidayExecute(r)
}

/*
GetHoliday Get Holiday

Get a holiday

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Holiday ID
 @return ApiGetHolidayRequest
*/
func (a *HolidaysAPIService) GetHoliday(ctx context.Context, id string) ApiGetHolidayRequest {
	return ApiGetHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Holiday
func (a *HolidaysAPIService) GetHolidayExecute(r ApiGetHolidayRequest) (*Holiday, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Holiday
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.GetHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRelatedHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
	relation string
}

func (r ApiGetRelatedHolidayRequest) Execute() (*HolidayEdge, *http.Response, error) {
	return r.ApiService.GetRelatedHolidayExecute(r)
}

/*
GetRelatedHoliday Get Relation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param relation
 @return ApiGetRelatedHolidayRequest
*/
func (a *HolidaysAPIService) GetRelatedHoliday(ctx context.Context, id string, relation string) ApiGetRelatedHolidayRequest {
	return ApiGetRelatedHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		relation: relation,
	}
}

// Execute executes the request
//  @return HolidayEdge
func (a *HolidaysAPIService) GetRelatedHolidayExecute(r ApiGetRelatedHolidayRequest) (*HolidayEdge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayEdge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.GetRelatedHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}/relations/{relation}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"relation"+"}", url.PathEscape(parameterValueToString(r.relation, "relation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}
	if strlen(r.relation) < 26 {
		return localVarReturnValue, nil, reportError("relation must have at least 26 elements")
	}
	if strlen(r.relation) > 26 {
		return localVarReturnValue, nil, reportError("relation must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHolidaysRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	search *string
	name *string
	code *string
	page *int32
	limit *int32
	order *SortOrder
	sort *string
	trash *int32
	published *int32
}

// (UI) Holiday search query
func (r ApiListHolidaysRequest) Search(search string) ApiListHolidaysRequest {
	r.search = &search
	return r
}

// Filter holidays by name (contains)
func (r ApiListHolidaysRequest) Name(name string) ApiListHolidaysRequest {
	r.name = &name
	return r
}

// Filter holidays by code (prefix)
func (r ApiListHolidaysRequest) Code(code string) ApiListHolidaysRequest {
	r.code = &code
	return r
}

// Page number
func (r ApiListHolidaysRequest) Page(page int32) ApiListHolidaysRequest {
	r.page = &page
	return r
}

// Maximum number of results to return
func (r ApiListHolidaysRequest) Limit(limit int32) ApiListHolidaysRequest {
	r.limit = &limit
	return r
}

// Sort order
func (r ApiListHolidaysRequest) Order(order SortOrder) ApiListHolidaysRequest {
	r.order = &order
	return r
}

// Sort field
func (r ApiListHolidaysRequest) Sort(sort string) ApiListHolidaysRequest {
	r.sort = &sort
	return r
}

// View trash instead of active records if true
func (r ApiListHolidaysRequest) Trash(trash int32) ApiListHolidaysRequest {
	r.trash = &trash
	return r
}

// Filter holidays by their publish state
func (r ApiListHolidaysRequest) Published(published int32) ApiListHolidaysRequest {
	r.published = &published
	return r
}

func (r ApiListHolidaysRequest) Execute() (*ListHolidays200Response, *http.Response, error) {
	return r.ApiService.ListHolidaysExecute(r)
}

/*
ListHolidays List Holidays

Filter, Sort and list Holidays

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListHolidaysRequest
*/
func (a *HolidaysAPIService) ListHolidays(ctx context.Context) ApiListHolidaysRequest {
	return ApiListHolidaysRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListHolidays200Response
func (a *HolidaysAPIService) ListHolidaysExecute(r ApiListHolidaysRequest) (*ListHolidays200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListHolidays200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.ListHolidays")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.trash != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trash", r.trash, "form", "")
	}
	if r.published != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published", r.published, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRelatedHolidaysRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
}

func (r ApiListRelatedHolidaysRequest) Execute() ([]HolidayEdge, *http.Response, error) {
	return r.ApiService.ListRelatedHolidaysExecute(r)
}

/*
ListRelatedHolidays List Related Holidays

List holidays related to the specified holiday.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiListRelatedHolidaysRequest
*/
func (a *HolidaysAPIService) ListRelatedHolidays(ctx context.Context, id string) ApiListRelatedHolidaysRequest {
	return ApiListRelatedHolidaysRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []HolidayEdge
func (a *HolidaysAPIService) ListRelatedHolidaysExecute(r ApiListRelatedHolidaysRequest) ([]HolidayEdge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []HolidayEdge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.ListRelatedHolidays")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}/relations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReindexHolidaysRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
}

func (r ApiReindexHolidaysRequest) Execute() (*ReindexHolidays200Response, *http.Response, error) {
	return r.ApiService.ReindexHolidaysExecute(r)
}

/*
ReindexHolidays Trigger Search Reindex

Triggers a full search index rebuild for the current tenant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReindexHolidaysRequest
*/
func (a *HolidaysAPIService) ReindexHolidays(ctx context.Context) ApiReindexHolidaysRequest {
	return ApiReindexHolidaysRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReindexHolidays200Response
func (a *HolidaysAPIService) ReindexHolidaysExecute(r ApiReindexHolidaysRequest) (*ReindexHolidays200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReindexHolidays200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.ReindexHolidays")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/reindex"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestoreAHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	holidayId string
}

func (r ApiRestoreAHolidayRequest) Execute() (*Holiday, *http.Response, error) {
	return r.ApiService.RestoreAHolidayExecute(r)
}

/*
RestoreAHoliday Restore a Holiday

Restores a deleted Holiday from the trash

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId
 @return ApiRestoreAHolidayRequest
*/
func (a *HolidaysAPIService) RestoreAHoliday(ctx context.Context, holidayId string) ApiRestoreAHolidayRequest {
	return ApiRestoreAHolidayRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
	}
}

// Execute executes the request
//  @return Holiday
func (a *HolidaysAPIService) RestoreAHolidayExecute(r ApiRestoreAHolidayRequest) (*Holiday, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Holiday
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.RestoreAHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/restore"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return localVarReturnValue, nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return localVarReturnValue, nil, reportError("holidayId must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchHolidaysRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	k *string
	ccy *string
	q *string
	o *int32
	i *int32
	j *string
	pf *float32
	pt *float32
	df *string
	dt *string
	l *map[string][]string
	fh *map[string]SearchHolidaysFhParameterValue
	fd *map[string]SearchHolidaysFhParameterValue
	pi *int32
	c0 *[]string
	c1 *[]string
	c2 *[]string
	c3 *[]string
	c4 *[]string
	c5 *[]string
	c6 *[]string
	c7 *[]string
	c8 *[]string
	c9 *[]string
}

// Public search key
func (r ApiSearchHolidaysRequest) K(k string) ApiSearchHolidaysRequest {
	r.k = &k
	return r
}

// Active search currency
func (r ApiSearchHolidaysRequest) Ccy(ccy string) ApiSearchHolidaysRequest {
	r.ccy = &ccy
	return r
}

// Search query
func (r ApiSearchHolidaysRequest) Q(q string) ApiSearchHolidaysRequest {
	r.q = &q
	return r
}

// Pagination offset
func (r ApiSearchHolidaysRequest) O(o int32) ApiSearchHolidaysRequest {
	r.o = &o
	return r
}

// Pagination page size
func (r ApiSearchHolidaysRequest) I(i int32) ApiSearchHolidaysRequest {
	r.i = &i
	return r
}

// Search join/filtering mode
func (r ApiSearchHolidaysRequest) J(j string) ApiSearchHolidaysRequest {
	r.j = &j
	return r
}

// Minimum Price (inclusive)
func (r ApiSearchHolidaysRequest) Pf(pf float32) ApiSearchHolidaysRequest {
	r.pf = &pf
	return r
}

// Maximum Price (inclusive)
func (r ApiSearchHolidaysRequest) Pt(pt float32) ApiSearchHolidaysRequest {
	r.pt = &pt
	return r
}

// Date range lower bound (inclusive) Can be either a specific timestamp value or a relative date calculation e.g. &#x60;now+7d&#x60; 
func (r ApiSearchHolidaysRequest) Df(df string) ApiSearchHolidaysRequest {
	r.df = &df
	return r
}

// Date range upper bound (inclusive) Can be either a specific timestamp value or a relative date calculation e.g. &#x60;now+7d&#x60; 
func (r ApiSearchHolidaysRequest) Dt(dt string) ApiSearchHolidaysRequest {
	r.dt = &dt
	return r
}

// Filter by location
func (r ApiSearchHolidaysRequest) L(l map[string][]string) ApiSearchHolidaysRequest {
	r.l = &l
	return r
}

// Filter based on custom field properties, using an exact match only. 
func (r ApiSearchHolidaysRequest) Fh(fh map[string]SearchHolidaysFhParameterValue) ApiSearchHolidaysRequest {
	r.fh = &fh
	return r
}

// Filter departures based on custom field properties, using an exact match only
func (r ApiSearchHolidaysRequest) Fd(fd map[string]SearchHolidaysFhParameterValue) ApiSearchHolidaysRequest {
	r.fd = &fd
	return r
}

// Price histogram interval
func (r ApiSearchHolidaysRequest) Pi(pi int32) ApiSearchHolidaysRequest {
	r.pi = &pi
	return r
}

// Filter by Categories (Level 0)
func (r ApiSearchHolidaysRequest) C0(c0 []string) ApiSearchHolidaysRequest {
	r.c0 = &c0
	return r
}

// Filter by Categories (Level 1)
func (r ApiSearchHolidaysRequest) C1(c1 []string) ApiSearchHolidaysRequest {
	r.c1 = &c1
	return r
}

// Filter by Categories (Level 2)
func (r ApiSearchHolidaysRequest) C2(c2 []string) ApiSearchHolidaysRequest {
	r.c2 = &c2
	return r
}

// Filter by Categories (Level 3)
func (r ApiSearchHolidaysRequest) C3(c3 []string) ApiSearchHolidaysRequest {
	r.c3 = &c3
	return r
}

// Filter by Categories (Level 4)
func (r ApiSearchHolidaysRequest) C4(c4 []string) ApiSearchHolidaysRequest {
	r.c4 = &c4
	return r
}

// Filter by Categories (Level 5)
func (r ApiSearchHolidaysRequest) C5(c5 []string) ApiSearchHolidaysRequest {
	r.c5 = &c5
	return r
}

// Filter by Categories (Level 6)
func (r ApiSearchHolidaysRequest) C6(c6 []string) ApiSearchHolidaysRequest {
	r.c6 = &c6
	return r
}

// Filter by Categories (Level 7)
func (r ApiSearchHolidaysRequest) C7(c7 []string) ApiSearchHolidaysRequest {
	r.c7 = &c7
	return r
}

// Filter by Categories (Level 8)
func (r ApiSearchHolidaysRequest) C8(c8 []string) ApiSearchHolidaysRequest {
	r.c8 = &c8
	return r
}

// Filter by Categories (Level 9)
func (r ApiSearchHolidaysRequest) C9(c9 []string) ApiSearchHolidaysRequest {
	r.c9 = &c9
	return r
}

func (r ApiSearchHolidaysRequest) Execute() (*http.Response, error) {
	return r.ApiService.SearchHolidaysExecute(r)
}

/*
SearchHolidays Holiday Search

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchHolidaysRequest
*/
func (a *HolidaysAPIService) SearchHolidays(ctx context.Context) ApiSearchHolidaysRequest {
	return ApiSearchHolidaysRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *HolidaysAPIService) SearchHolidaysExecute(r ApiSearchHolidaysRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.SearchHolidays")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.k == nil {
		return nil, reportError("k is required and must be specified")
	}
	if r.ccy == nil {
		return nil, reportError("ccy is required and must be specified")
	}
	if strlen(*r.ccy) < 3 {
		return nil, reportError("ccy must have at least 3 elements")
	}
	if strlen(*r.ccy) > 3 {
		return nil, reportError("ccy must have less than 3 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "k", r.k, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "ccy", r.ccy, "form", "")
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.o != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "o", r.o, "form", "")
	}
	if r.i != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "i", r.i, "form", "")
	}
	if r.j != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "j", r.j, "form", "")
	}
	if r.pf != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pf", r.pf, "form", "")
	}
	if r.pt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pt", r.pt, "form", "")
	}
	if r.df != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "df", r.df, "form", "")
	}
	if r.dt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dt", r.dt, "form", "")
	}
	if r.l != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "l", r.l, "form", "")
	}
	if r.fh != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fh", r.fh, "form", "")
	}
	if r.fd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fd", r.fd, "form", "")
	}
	if r.pi != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pi", r.pi, "form", "")
	}
	if r.c0 != nil {
		t := *r.c0
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c0", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c0", t, "form", "multi")
		}
	}
	if r.c1 != nil {
		t := *r.c1
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c1", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c1", t, "form", "multi")
		}
	}
	if r.c2 != nil {
		t := *r.c2
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c2", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c2", t, "form", "multi")
		}
	}
	if r.c3 != nil {
		t := *r.c3
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c3", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c3", t, "form", "multi")
		}
	}
	if r.c4 != nil {
		t := *r.c4
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c4", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c4", t, "form", "multi")
		}
	}
	if r.c5 != nil {
		t := *r.c5
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c5", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c5", t, "form", "multi")
		}
	}
	if r.c6 != nil {
		t := *r.c6
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c6", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c6", t, "form", "multi")
		}
	}
	if r.c7 != nil {
		t := *r.c7
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c7", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c7", t, "form", "multi")
		}
	}
	if r.c8 != nil {
		t := *r.c8
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c8", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c8", t, "form", "multi")
		}
	}
	if r.c9 != nil {
		t := *r.c9
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "c9", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "c9", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSuggestHolidaysRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	q *string
}

func (r ApiSuggestHolidaysRequest) Q(q string) ApiSuggestHolidaysRequest {
	r.q = &q
	return r
}

func (r ApiSuggestHolidaysRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.SuggestHolidaysExecute(r)
}

/*
SuggestHolidays Holiday Suggestions

Provides search suggestions for holidays.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSuggestHolidaysRequest
*/
func (a *HolidaysAPIService) SuggestHolidays(ctx context.Context) ApiSuggestHolidaysRequest {
	return ApiSuggestHolidaysRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []string
func (a *HolidaysAPIService) SuggestHolidaysExecute(r ApiSuggestHolidaysRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.SuggestHolidays")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/suggest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
	updateHolidayRequest *UpdateHolidayRequest
}

func (r ApiUpdateHolidayRequest) UpdateHolidayRequest(updateHolidayRequest UpdateHolidayRequest) ApiUpdateHolidayRequest {
	r.updateHolidayRequest = &updateHolidayRequest
	return r
}

func (r ApiUpdateHolidayRequest) Execute() (*Holiday, *http.Response, error) {
	return r.ApiService.UpdateHolidayExecute(r)
}

/*
UpdateHoliday Update Holiday

Update an existing Holiday

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Holiday ID
 @return ApiUpdateHolidayRequest
*/
func (a *HolidaysAPIService) UpdateHoliday(ctx context.Context, id string) ApiUpdateHolidayRequest {
	return ApiUpdateHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Holiday
func (a *HolidaysAPIService) UpdateHolidayExecute(r ApiUpdateHolidayRequest) (*Holiday, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Holiday
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.UpdateHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}
	if r.updateHolidayRequest == nil {
		return localVarReturnValue, nil, reportError("updateHolidayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateHolidayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateRelatedHolidayRequest struct {
	ctx context.Context
	ApiService *HolidaysAPIService
	id string
	relation string
	updateRelatedHolidayRequest *UpdateRelatedHolidayRequest
}

func (r ApiUpdateRelatedHolidayRequest) UpdateRelatedHolidayRequest(updateRelatedHolidayRequest UpdateRelatedHolidayRequest) ApiUpdateRelatedHolidayRequest {
	r.updateRelatedHolidayRequest = &updateRelatedHolidayRequest
	return r
}

func (r ApiUpdateRelatedHolidayRequest) Execute() (*HolidayEdge, *http.Response, error) {
	return r.ApiService.UpdateRelatedHolidayExecute(r)
}

/*
UpdateRelatedHoliday Update Relation

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param relation
 @return ApiUpdateRelatedHolidayRequest
*/
func (a *HolidaysAPIService) UpdateRelatedHoliday(ctx context.Context, id string, relation string) ApiUpdateRelatedHolidayRequest {
	return ApiUpdateRelatedHolidayRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		relation: relation,
	}
}

// Execute executes the request
//  @return HolidayEdge
func (a *HolidaysAPIService) UpdateRelatedHolidayExecute(r ApiUpdateRelatedHolidayRequest) (*HolidayEdge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayEdge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidaysAPIService.UpdateRelatedHoliday")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{id}/relations/{relation}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"relation"+"}", url.PathEscape(parameterValueToString(r.relation, "relation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.id) < 26 {
		return localVarReturnValue, nil, reportError("id must have at least 26 elements")
	}
	if strlen(r.id) > 26 {
		return localVarReturnValue, nil, reportError("id must have less than 26 elements")
	}
	if strlen(r.relation) < 26 {
		return localVarReturnValue, nil, reportError("relation must have at least 26 elements")
	}
	if strlen(r.relation) > 26 {
		return localVarReturnValue, nil, reportError("relation must have less than 26 elements")
	}
	if r.updateRelatedHolidayRequest == nil {
		return localVarReturnValue, nil, reportError("updateRelatedHolidayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateRelatedHolidayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
