/*
RezKit Tours Manager

An application for managing small group tour products

API version: 2026.05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tourmanager

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// DeparturesAPIService DeparturesAPI service
type DeparturesAPIService service

type ApiCreateDepartureRequest struct {
	ctx context.Context
	ApiService *DeparturesAPIService
	departureProperties *DepartureProperties
}

func (r ApiCreateDepartureRequest) DepartureProperties(departureProperties DepartureProperties) ApiCreateDepartureRequest {
	r.departureProperties = &departureProperties
	return r
}

func (r ApiCreateDepartureRequest) Execute() (*Departure, *http.Response, error) {
	return r.ApiService.CreateDepartureExecute(r)
}

/*
CreateDeparture Create Departure

Create a new departure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDepartureRequest
*/
func (a *DeparturesAPIService) CreateDeparture(ctx context.Context) ApiCreateDepartureRequest {
	return ApiCreateDepartureRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Departure
func (a *DeparturesAPIService) CreateDepartureExecute(r ApiCreateDepartureRequest) (*Departure, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Departure
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeparturesAPIService.CreateDeparture")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/departures"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.departureProperties == nil {
		return localVarReturnValue, nil, reportError("departureProperties is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.departureProperties
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteDepartureRequest struct {
	ctx context.Context
	ApiService *DeparturesAPIService
	departure string
}

func (r ApiDeleteDepartureRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDepartureExecute(r)
}

/*
DeleteDeparture Delete Departure

Delete a departure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param departure Departure ID
 @return ApiDeleteDepartureRequest
*/
func (a *DeparturesAPIService) DeleteDeparture(ctx context.Context, departure string) ApiDeleteDepartureRequest {
	return ApiDeleteDepartureRequest{
		ApiService: a,
		ctx: ctx,
		departure: departure,
	}
}

// Execute executes the request
func (a *DeparturesAPIService) DeleteDepartureExecute(r ApiDeleteDepartureRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeparturesAPIService.DeleteDeparture")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/departures/{departure}"
	localVarPath = strings.Replace(localVarPath, "{"+"departure"+"}", url.PathEscape(parameterValueToString(r.departure, "departure")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.departure) < 26 {
		return nil, reportError("departure must have at least 26 elements")
	}
	if strlen(r.departure) > 26 {
		return nil, reportError("departure must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetDepartureRequest struct {
	ctx context.Context
	ApiService *DeparturesAPIService
	departure string
}

func (r ApiGetDepartureRequest) Execute() (*Departure, *http.Response, error) {
	return r.ApiService.GetDepartureExecute(r)
}

/*
GetDeparture Get Departure

Get a single departure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param departure Departure ID
 @return ApiGetDepartureRequest
*/
func (a *DeparturesAPIService) GetDeparture(ctx context.Context, departure string) ApiGetDepartureRequest {
	return ApiGetDepartureRequest{
		ApiService: a,
		ctx: ctx,
		departure: departure,
	}
}

// Execute executes the request
//  @return Departure
func (a *DeparturesAPIService) GetDepartureExecute(r ApiGetDepartureRequest) (*Departure, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Departure
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeparturesAPIService.GetDeparture")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/departures/{departure}"
	localVarPath = strings.Replace(localVarPath, "{"+"departure"+"}", url.PathEscape(parameterValueToString(r.departure, "departure")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.departure) < 26 {
		return localVarReturnValue, nil, reportError("departure must have at least 26 elements")
	}
	if strlen(r.departure) > 26 {
		return localVarReturnValue, nil, reportError("departure must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDeparturesRequest struct {
	ctx context.Context
	ApiService *DeparturesAPIService
	version *string
	holiday *string
	before *time.Time
	after *time.Time
	published *int32
}

// Filter by Version
func (r ApiListDeparturesRequest) Version(version string) ApiListDeparturesRequest {
	r.version = &version
	return r
}

// Filter by holiday
func (r ApiListDeparturesRequest) Holiday(holiday string) ApiListDeparturesRequest {
	r.holiday = &holiday
	return r
}

// Return only departures which *may return before* the given date.
func (r ApiListDeparturesRequest) Before(before time.Time) ApiListDeparturesRequest {
	r.before = &before
	return r
}

// Return only departures which *may depart after* the given date.
func (r ApiListDeparturesRequest) After(after time.Time) ApiListDeparturesRequest {
	r.after = &after
	return r
}

// Return only published/non-published departures
func (r ApiListDeparturesRequest) Published(published int32) ApiListDeparturesRequest {
	r.published = &published
	return r
}

func (r ApiListDeparturesRequest) Execute() (*ListDepartures200Response, *http.Response, error) {
	return r.ApiService.ListDeparturesExecute(r)
}

/*
ListDepartures List Departures

List Departures

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDeparturesRequest
*/
func (a *DeparturesAPIService) ListDepartures(ctx context.Context) ApiListDeparturesRequest {
	return ApiListDeparturesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListDepartures200Response
func (a *DeparturesAPIService) ListDeparturesExecute(r ApiListDeparturesRequest) (*ListDepartures200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListDepartures200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeparturesAPIService.ListDepartures")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/departures"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.holiday != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "holiday", r.holiday, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.published != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published", r.published, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateDepartureRequest struct {
	ctx context.Context
	ApiService *DeparturesAPIService
	departure string
	departureParams *DepartureParams
}

func (r ApiUpdateDepartureRequest) DepartureParams(departureParams DepartureParams) ApiUpdateDepartureRequest {
	r.departureParams = &departureParams
	return r
}

func (r ApiUpdateDepartureRequest) Execute() (*Departure, *http.Response, error) {
	return r.ApiService.UpdateDepartureExecute(r)
}

/*
UpdateDeparture Update Departure

Update a Departure

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param departure Departure ID
 @return ApiUpdateDepartureRequest
*/
func (a *DeparturesAPIService) UpdateDeparture(ctx context.Context, departure string) ApiUpdateDepartureRequest {
	return ApiUpdateDepartureRequest{
		ApiService: a,
		ctx: ctx,
		departure: departure,
	}
}

// Execute executes the request
//  @return Departure
func (a *DeparturesAPIService) UpdateDepartureExecute(r ApiUpdateDepartureRequest) (*Departure, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Departure
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeparturesAPIService.UpdateDeparture")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/departures/{departure}"
	localVarPath = strings.Replace(localVarPath, "{"+"departure"+"}", url.PathEscape(parameterValueToString(r.departure, "departure")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.departure) < 26 {
		return localVarReturnValue, nil, reportError("departure must have at least 26 elements")
	}
	if strlen(r.departure) > 26 {
		return localVarReturnValue, nil, reportError("departure must have less than 26 elements")
	}
	if r.departureParams == nil {
		return localVarReturnValue, nil, reportError("departureParams is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.departureParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
