/*
RezKit Tours Manager

An application for managing small group tour products

API version: 2026.05
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tourmanager

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// HolidayVersionsAPIService HolidayVersionsAPI service
type HolidayVersionsAPIService service

type ApiCreateHolidayVersionRequest struct {
	ctx context.Context
	ApiService *HolidayVersionsAPIService
	holidayId string
	createHolidayRequest *CreateHolidayRequest
}

// New Holiday Payload
func (r ApiCreateHolidayVersionRequest) CreateHolidayRequest(createHolidayRequest CreateHolidayRequest) ApiCreateHolidayVersionRequest {
	r.createHolidayRequest = &createHolidayRequest
	return r
}

func (r ApiCreateHolidayVersionRequest) Execute() (*HolidayVersion, *http.Response, error) {
	return r.ApiService.CreateHolidayVersionExecute(r)
}

/*
CreateHolidayVersion Create Holiday Version

Create a new Holiday Version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId Holiday ID
 @return ApiCreateHolidayVersionRequest
*/
func (a *HolidayVersionsAPIService) CreateHolidayVersion(ctx context.Context, holidayId string) ApiCreateHolidayVersionRequest {
	return ApiCreateHolidayVersionRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
	}
}

// Execute executes the request
//  @return HolidayVersion
func (a *HolidayVersionsAPIService) CreateHolidayVersionExecute(r ApiCreateHolidayVersionRequest) (*HolidayVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidayVersionsAPIService.CreateHolidayVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return localVarReturnValue, nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return localVarReturnValue, nil, reportError("holidayId must have less than 26 elements")
	}
	if r.createHolidayRequest == nil {
		return localVarReturnValue, nil, reportError("createHolidayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createHolidayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteHolidayVersionRequest struct {
	ctx context.Context
	ApiService *HolidayVersionsAPIService
	holidayId string
	versionId string
}

func (r ApiDeleteHolidayVersionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteHolidayVersionExecute(r)
}

/*
DeleteHolidayVersion Delete Holiday Version

Delete a holiday version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId Holiday ID
 @param versionId Holiday Version ID
 @return ApiDeleteHolidayVersionRequest
*/
func (a *HolidayVersionsAPIService) DeleteHolidayVersion(ctx context.Context, holidayId string, versionId string) ApiDeleteHolidayVersionRequest {
	return ApiDeleteHolidayVersionRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
		versionId: versionId,
	}
}

// Execute executes the request
func (a *HolidayVersionsAPIService) DeleteHolidayVersionExecute(r ApiDeleteHolidayVersionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidayVersionsAPIService.DeleteHolidayVersion")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/versions/{version_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return nil, reportError("holidayId must have less than 26 elements")
	}
	if strlen(r.versionId) < 26 {
		return nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return nil, reportError("versionId must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetHolidayVersionRequest struct {
	ctx context.Context
	ApiService *HolidayVersionsAPIService
	holidayId string
	versionId string
}

func (r ApiGetHolidayVersionRequest) Execute() (*HolidayVersion, *http.Response, error) {
	return r.ApiService.GetHolidayVersionExecute(r)
}

/*
GetHolidayVersion Get Holiday version

Get a single holiday version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId Holiday ID
 @param versionId Holiday Version ID
 @return ApiGetHolidayVersionRequest
*/
func (a *HolidayVersionsAPIService) GetHolidayVersion(ctx context.Context, holidayId string, versionId string) ApiGetHolidayVersionRequest {
	return ApiGetHolidayVersionRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
		versionId: versionId,
	}
}

// Execute executes the request
//  @return HolidayVersion
func (a *HolidayVersionsAPIService) GetHolidayVersionExecute(r ApiGetHolidayVersionRequest) (*HolidayVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidayVersionsAPIService.GetHolidayVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/versions/{version_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return localVarReturnValue, nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return localVarReturnValue, nil, reportError("holidayId must have less than 26 elements")
	}
	if strlen(r.versionId) < 26 {
		return localVarReturnValue, nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return localVarReturnValue, nil, reportError("versionId must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHolidayVersionsRequest struct {
	ctx context.Context
	ApiService *HolidayVersionsAPIService
	holidayId string
	search *string
	name *string
	code *string
	page *int32
	limit *int32
	order *SortOrder
	sort *string
	trash *int32
	published *int32
}

// (UI) Holiday search query
func (r ApiListHolidayVersionsRequest) Search(search string) ApiListHolidayVersionsRequest {
	r.search = &search
	return r
}

// Filter holidays by name (contains)
func (r ApiListHolidayVersionsRequest) Name(name string) ApiListHolidayVersionsRequest {
	r.name = &name
	return r
}

// Filter holidays by code (prefix)
func (r ApiListHolidayVersionsRequest) Code(code string) ApiListHolidayVersionsRequest {
	r.code = &code
	return r
}

// Page number
func (r ApiListHolidayVersionsRequest) Page(page int32) ApiListHolidayVersionsRequest {
	r.page = &page
	return r
}

// Maximum number of results to return
func (r ApiListHolidayVersionsRequest) Limit(limit int32) ApiListHolidayVersionsRequest {
	r.limit = &limit
	return r
}

// Sort order
func (r ApiListHolidayVersionsRequest) Order(order SortOrder) ApiListHolidayVersionsRequest {
	r.order = &order
	return r
}

// Sort field
func (r ApiListHolidayVersionsRequest) Sort(sort string) ApiListHolidayVersionsRequest {
	r.sort = &sort
	return r
}

// View trash instead of active records if true
func (r ApiListHolidayVersionsRequest) Trash(trash int32) ApiListHolidayVersionsRequest {
	r.trash = &trash
	return r
}

// Filter holidays by their publish state
func (r ApiListHolidayVersionsRequest) Published(published int32) ApiListHolidayVersionsRequest {
	r.published = &published
	return r
}

func (r ApiListHolidayVersionsRequest) Execute() (*ListHolidayVersions200Response, *http.Response, error) {
	return r.ApiService.ListHolidayVersionsExecute(r)
}

/*
ListHolidayVersions List Holiday Versions

List versions for a Holiday

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId Holiday ID
 @return ApiListHolidayVersionsRequest
*/
func (a *HolidayVersionsAPIService) ListHolidayVersions(ctx context.Context, holidayId string) ApiListHolidayVersionsRequest {
	return ApiListHolidayVersionsRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
	}
}

// Execute executes the request
//  @return ListHolidayVersions200Response
func (a *HolidayVersionsAPIService) ListHolidayVersionsExecute(r ApiListHolidayVersionsRequest) (*ListHolidayVersions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListHolidayVersions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidayVersionsAPIService.ListHolidayVersions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/versions"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return localVarReturnValue, nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return localVarReturnValue, nil, reportError("holidayId must have less than 26 elements")
	}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		r.limit = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.trash != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trash", r.trash, "form", "")
	}
	if r.published != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "published", r.published, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestoreHolidayVersionRequest struct {
	ctx context.Context
	ApiService *HolidayVersionsAPIService
	holidayId string
	versionId string
}

func (r ApiRestoreHolidayVersionRequest) Execute() (*HolidayVersion, *http.Response, error) {
	return r.ApiService.RestoreHolidayVersionExecute(r)
}

/*
RestoreHolidayVersion Restore Holiday Version

Restores a deleted holiday version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId Holiday ID
 @param versionId Holiday Version ID
 @return ApiRestoreHolidayVersionRequest
*/
func (a *HolidayVersionsAPIService) RestoreHolidayVersion(ctx context.Context, holidayId string, versionId string) ApiRestoreHolidayVersionRequest {
	return ApiRestoreHolidayVersionRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
		versionId: versionId,
	}
}

// Execute executes the request
//  @return HolidayVersion
func (a *HolidayVersionsAPIService) RestoreHolidayVersionExecute(r ApiRestoreHolidayVersionRequest) (*HolidayVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidayVersionsAPIService.RestoreHolidayVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/versions/{version_id}/restore"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return localVarReturnValue, nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return localVarReturnValue, nil, reportError("holidayId must have less than 26 elements")
	}
	if strlen(r.versionId) < 26 {
		return localVarReturnValue, nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return localVarReturnValue, nil, reportError("versionId must have less than 26 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateHolidayVersionRequest struct {
	ctx context.Context
	ApiService *HolidayVersionsAPIService
	holidayId string
	versionId string
	updateHolidayRequest *UpdateHolidayRequest
}

func (r ApiUpdateHolidayVersionRequest) UpdateHolidayRequest(updateHolidayRequest UpdateHolidayRequest) ApiUpdateHolidayVersionRequest {
	r.updateHolidayRequest = &updateHolidayRequest
	return r
}

func (r ApiUpdateHolidayVersionRequest) Execute() (*HolidayVersion, *http.Response, error) {
	return r.ApiService.UpdateHolidayVersionExecute(r)
}

/*
UpdateHolidayVersion Update Holiday Version

Update a holiday version

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param holidayId Holiday ID
 @param versionId Holiday Version ID
 @return ApiUpdateHolidayVersionRequest
*/
func (a *HolidayVersionsAPIService) UpdateHolidayVersion(ctx context.Context, holidayId string, versionId string) ApiUpdateHolidayVersionRequest {
	return ApiUpdateHolidayVersionRequest{
		ApiService: a,
		ctx: ctx,
		holidayId: holidayId,
		versionId: versionId,
	}
}

// Execute executes the request
//  @return HolidayVersion
func (a *HolidayVersionsAPIService) UpdateHolidayVersionExecute(r ApiUpdateHolidayVersionRequest) (*HolidayVersion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HolidayVersion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HolidayVersionsAPIService.UpdateHolidayVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/holidays/{holiday_id}/versions/{version_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"holiday_id"+"}", url.PathEscape(parameterValueToString(r.holidayId, "holidayId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"version_id"+"}", url.PathEscape(parameterValueToString(r.versionId, "versionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.holidayId) < 26 {
		return localVarReturnValue, nil, reportError("holidayId must have at least 26 elements")
	}
	if strlen(r.holidayId) > 26 {
		return localVarReturnValue, nil, reportError("holidayId must have less than 26 elements")
	}
	if strlen(r.versionId) < 26 {
		return localVarReturnValue, nil, reportError("versionId must have at least 26 elements")
	}
	if strlen(r.versionId) > 26 {
		return localVarReturnValue, nil, reportError("versionId must have less than 26 elements")
	}
	if r.updateHolidayRequest == nil {
		return localVarReturnValue, nil, reportError("updateHolidayRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateHolidayRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject3
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject2
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
