openapi: 3.0.2
info:
  contact:
    name: RezKit
    url: https://rezkit.app
  description: An application for managing small group tour products
  title: RezKit Tours Manager
  version: "2026.05"
servers:
- description: Tour Manager
  url: https://tours.api.rezkit.app/
security:
- api_key: []
tags:
- description: Category Management
  name: Categories
- description: Holiday information management
  name: Holidays
- description: Holiday Versions
  name: Holiday Versions
- description: Manage the image library
  name: Images
- description: Holiday Departures
  name: Departures
- description: Holiday Elements
  name: Elements
- description: Holiday Prices
  name: Prices
- description: Holiday Itinerary
  name: Itinerary
- description: Location information management
  name: Locations
- description: Accommodation information management
  name: Accommodation
- description: Configuration management
  name: Configuration
- description: Allows additional entity fields to be defined along with validation
    rules.
  name: Fields
- description: General app information
  name: Information
- description: Create and Manage API keys for accessing tour data in external systems
    and programs.
  name: API Keys
paths:
  /holidays/search:
    get:
      operationId: searchHolidays
      parameters:
      - description: Public search key
        example: rezkit
        explode: true
        in: query
        name: k
        required: true
        schema:
          type: string
        style: form
      - description: Active search currency
        example: GBP
        explode: true
        in: query
        name: ccy
        required: true
        schema:
          maxLength: 3
          minLength: 3
          type: string
        style: form
      - description: Search query
        example: walking holidays
        explode: true
        in: query
        name: q
        required: false
        schema:
          maxLength: 255
          type: string
        style: form
      - description: Pagination offset
        example: 0
        explode: true
        in: query
        name: o
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Pagination page size
        example: 25
        explode: true
        in: query
        name: i
        required: false
        schema:
          maximum: 200
          minimum: 1
          type: integer
        style: form
      - description: Search join/filtering mode
        example: d
        explode: true
        in: query
        name: j
        required: false
        schema:
          enum:
          - a
          - d
          type: string
        style: form
      - description: Minimum Price (inclusive)
        example: 123.45
        explode: true
        in: query
        name: pf
        required: false
        schema:
          minimum: 0
          type: number
        style: form
      - description: Maximum Price (inclusive)
        example: 5000
        explode: true
        in: query
        name: pt
        required: false
        schema:
          minimum: 0
          type: number
        style: form
      - description: |
          Date range lower bound (inclusive) Can be either a specific timestamp value or a relative date calculation e.g. `now+7d`
        example: now+30d
        explode: true
        in: query
        name: df
        required: false
        schema:
          type: string
        style: form
      - description: |
          Date range upper bound (inclusive) Can be either a specific timestamp value or a relative date calculation e.g. `now+7d`
        example: now+1y
        explode: true
        in: query
        name: dt
        required: false
        schema:
          type: string
        style: form
      - description: Filter by location
        example:
          Region:
          - europe
        explode: true
        in: query
        name: l
        required: false
        schema:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
        style: form
      - description: |
          Filter based on custom field properties, using an exact match only.
        explode: true
        in: query
        name: fh
        required: false
        schema:
          additionalProperties:
            $ref: "#/components/schemas/searchHolidays_fh_parameter_value"
          type: object
        style: form
      - description: "Filter departures based on custom field properties, using an\
          \ exact match only"
        explode: true
        in: query
        name: fd
        required: false
        schema:
          additionalProperties:
            $ref: "#/components/schemas/searchHolidays_fh_parameter_value"
          type: object
        style: form
      - description: Price histogram interval
        explode: true
        in: query
        name: pi
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filter by Categories (Level 0)
        explode: true
        in: query
        name: c0
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 1)
        explode: true
        in: query
        name: c1
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 2)
        explode: true
        in: query
        name: c2
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 3)
        explode: true
        in: query
        name: c3
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 4)
        explode: true
        in: query
        name: c4
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 5)
        explode: true
        in: query
        name: c5
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 6)
        explode: true
        in: query
        name: c6
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 7)
        explode: true
        in: query
        name: c7
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 8)
        explode: true
        in: query
        name: c8
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      - description: Filter by Categories (Level 9)
        explode: true
        in: query
        name: c9
        required: false
        schema:
          items:
            maxLength: 96
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                took: 34
                timed_out: false
                _shards:
                  total: 2
                  successful: 2
                  skipped: 0
                  failed: 0
                hits:
                  total:
                    value: 435
                    relation: eq
                  max_score: 0
                  hits:
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h72nsh97zchj22xgw2cd2
                    _score: 0
                    _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                    _source:
                      name: Costa Rica Walks and Wildlife
                      code: CWW
                      description: "<ul>\r\n<li>Delve into lush rainforests and explore\
                        \ stunning waterfalls and beaches</li>\r\n<li>Trek the slopes\
                        \ of Arenal Volcano &amp; visit Corcovado National Park by\
                        \ boat</li>\r\n<li>Walk amongst abundant colourful birdlife,\
                        \ including the elusive quetzal</li>\r\n<li>Spot incredible\
                        \ wildlife endemic to Costa Rica such as coatis, sloth and\
                        \ tapir</li>\r\n</ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Trek & Walk
                        - Activities~Running
                        - Promotional~Winter
                        "0":
                        - Holiday Type
                        - Activities
                        - Promotional
                      locations:
                        Country:
                        - Costa Rica
                        Region:
                        - Latin America
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 73
                      image_ids:
                      - 01h8y3055mez6savshs27tv789
                      - 01h8y3a5zkqmxpxqccg2ch1s34
                      - 01h8y3a8gq6f1h3fd24km3791f
                      - 01h8y39zwaf4zzrz0nqfgb88an
                      - 01h8y3a55qr94dpbdp98vbwh85
                      - 01h8y3a5q6ymv2ep3a5axvwgwc
                      - 01h8y3a6djv7x1pt68rgnd1sgz
                      - 01h8y3a6y58ta2zxsdy00hbkss
                      - 01h8y3a4ngqeygt9czkyay4yey
                      - 01h8y3a7fbc1p51nrnbkbpbbvf
                      - 01h8y3a8135ekcy8ppjb9p9718
                      - 01h8y3a42tsc3a2jdgxh5y3ssy
                      - 01h8y3a3b1etvsy3pjc6eeb1ke
                      - 01h8y39ze3pe6vevwyfsj8x1kr
                      - 01h8y3a0arjx9fm10z2mcxfnb2
                      - 01h8y3a0rae03p3cykssj3mhv5
                      - 01h8y3a1ap8t0zqygegxrtwh18
                      - 01h8y3a1q7nwb22dkc7xz6yb0j
                      - 01h8y3a24zay8ty4v05d8fyzgn
                      - 01h8y3a2t8b3fj3g0q6sk9y34a
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 12
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h73z5xj7q42x9afcw7yg7
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2023-10-28T00:00:00.000000Z
                                lte: 2023-11-11T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4050.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 23887
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h741d8ssegq9fwhzk2j46
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2023-11-11T00:00:00.000000Z
                                lte: 2023-11-25T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4315.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 23888
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h743bbxm88t4bygtmr27e
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2023-11-25T00:00:00.000000Z
                                lte: 2023-12-09T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4390.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 26086
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h744z59by4g4vsjpkxm1x
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2023-12-16T00:00:00.000000Z
                                lte: 2023-12-30T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4790.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 23889
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74724ycf5y9c5s6g1x7v
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-01-27T00:00:00.000000Z
                                lte: 2024-02-10T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4400.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27481
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7490evs7mjcwztncek68
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-02-10T00:00:00.000000Z
                                lte: 2024-02-24T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4450.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27482
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74awgnd018et4ww3nj40
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-02-24T00:00:00.000000Z
                                lte: 2024-03-09T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4520.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27483
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74cp3w20yjfry18yw8pk
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-04-06T00:00:00.000000Z
                                lte: 2024-04-20T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4240.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27484
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74ehgwhhevte8ke48e4y
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-10-26T00:00:00.000000Z
                                lte: 2024-11-09T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4040.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27485
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74gg0hc60ba0mk9879en
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-11-09T00:00:00.000000Z
                                lte: 2024-11-23T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4140.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27486
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74jaq7nb0nprm7yty7pv
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-11-23T00:00:00.000000Z
                                lte: 2024-12-07T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3800.00"
                                GBP:
                                - "3040.00"
                                - "4140.00"
                                USD:
                                - "4135.00"
                              custom_fields:
                                tz3_id: 27487
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h74m6m223mcgegchjgdp2
                            _score: 1
                            _routing: holiday-01h93h72nsh97zchj22xgw2cd2
                            _source:
                              type: departure
                              name: Costa Rica Walks and Wildlife
                              code: CWW
                              rel:
                                name: departure
                                parent: holiday-01h93h72nsh97zchj22xgw2cd2
                              published: true
                              dates:
                                gte: 2024-12-14T00:00:00.000000Z
                                lte: 2024-12-28T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "3865.00"
                                GBP:
                                - "3090.00"
                                - "4590.00"
                                USD:
                                - "4205.00"
                              custom_fields:
                                tz3_id: 27488
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                    calculated:
                      lead_price:
                      - "3040.00"
                      - "4040.00"
                      months_of_operation:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 10
                      - 11
                      - 12
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h74paaq7kt3knkrxy8t5r
                    _score: 0
                    _routing: holiday-01h93h74paaq7kt3knkrxy8t5r
                    _source:
                      name: Walking on Secret Sardinia
                      code: SWW
                      description: "<ul>\r\n<li>Discover the rural heart of Sardinia\
                        \ and hike along spectacular coastal trails</li>\r\n<li>The\
                        \ wildly beautiful Supramonte Mountains and ancient Nuraghe\
                        \ monuments</li>\r\n<li>Stay in a charming family run hotel\
                        \ and taste a delicious variety of local dishes</li>\r\n<li>Enjoy\
                        \ the best walking trails and fascinating culture on a wildly\
                        \ beautiful island</li>\r\n</ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Trek & Walk
                        - Promotional~Winter
                        - Highlights~Festivals
                        "0":
                        - Holiday Type
                        - Promotional
                        - Highlights
                      locations:
                        Country:
                        - Italy
                        Region:
                        - Europe
                        Location:
                        - Sardinia
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 531
                      image_ids:
                      - 01h8xth0rttyx1806r9c4p2c3e
                      - 01h8xtbyax35m0ww886jxeqbnf
                      - 01h8xtfrjspksqvy2z8994grdn
                      - 01h8xtfs1xwqf6g3md88vmvf55
                      - 01h8xtbyt8pa8axsav37wksv64
                      - 01h8xtft1sdxnbbft3jc34dfxp
                      - 01h8xzhqz1gvjhfj4ct0x6aqyd
                      - 01h8xzhqcswafd09dd0c4tp8nj
                      - 01h8xtfvfpb70v0e5zv9r34z3n
                      - 01h8xtce7dhv1q4kmwm7q0c1s1
                      - 01h8xtgwp7b72tx643nfjfpx0t
                      - 01h8xtgx7m6m4s9wkmn892psjz
                      - 01h8xtftb7qyj85zn8q3esm8mh
                      - 01h8xtfsr4207bdkb2n7445g4c
                      - 01h8xtfvqc1xks3e4s5kn2rg56
                      - 01h8xtgxf6b0r8pky5zhh986dx
                      - 01h8xth0f2tttzz9b6r4jta4xj
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 3
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h75b7t5y2jxy3v86a2tjm
                            _score: 1
                            _routing: holiday-01h93h74paaq7kt3knkrxy8t5r
                            _source:
                              type: departure
                              name: Walking on Secret Sardinia
                              code: SWW
                              rel:
                                name: departure
                                parent: holiday-01h93h74paaq7kt3knkrxy8t5r
                              published: true
                              dates:
                                gte: 2023-09-16T00:00:00.000000Z
                                lte: 2023-09-23T00:00:00.000000Z
                              duration: 7
                              lead_prices:
                                EUR:
                                - "1535.00"
                                GBP:
                                - "1225.00"
                                USD:
                                - "1685.00"
                              custom_fields:
                                tz3_id: 24069
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h75cvbwkh781t346g3ttc
                            _score: 1
                            _routing: holiday-01h93h74paaq7kt3knkrxy8t5r
                            _source:
                              type: departure
                              name: Walking on Secret Sardinia
                              code: SWW
                              rel:
                                name: departure
                                parent: holiday-01h93h74paaq7kt3knkrxy8t5r
                              published: true
                              dates:
                                gte: 2024-05-25T00:00:00.000000Z
                                lte: 2024-06-01T00:00:00.000000Z
                              duration: 7
                              lead_prices:
                                EUR:
                                - "1570.00"
                                GBP:
                                - "1255.00"
                                USD:
                                - "1725.00"
                              custom_fields:
                                tz3_id: 26516
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h75ed48gfcj14s2sjnnta
                            _score: 1
                            _routing: holiday-01h93h74paaq7kt3knkrxy8t5r
                            _source:
                              type: departure
                              name: Walking on Secret Sardinia
                              code: SWW
                              rel:
                                name: departure
                                parent: holiday-01h93h74paaq7kt3knkrxy8t5r
                              published: true
                              dates:
                                gte: 2024-09-14T00:00:00.000000Z
                                lte: 2024-09-21T00:00:00.000000Z
                              duration: 7
                              lead_prices:
                                EUR:
                                - "1620.00"
                                GBP:
                                - "1295.00"
                                USD:
                                - "1775.00"
                              custom_fields:
                                tz3_id: 26517
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                    calculated:
                      lead_price:
                      - "1225.00"
                      months_of_operation:
                      - 5
                      - 6
                      - 9
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h7664scfsc6b2e1dj91fv
                    _score: 0
                    _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                    _source:
                      name: Winter Wonderland Arctic Family Adventure
                      code: FSW
                      description: "<ul>\r\n<li>Try husky dog-sledding and take your\
                        \ family to the spectacular Icehotel</li>\r\n<li>Go snowshoeing\
                        \ and enjoy the heated outdoor hot tub</li>\r\n<li>Ride a\
                        \ snowmobile on a frozen lake and see the northern lights</li>\r\
                        \n<li>Stay in cosy cabins, enjoy the spa with its pools and\
                        \ the restaurant</li>\r\n<li>Spend a magical Christmas or\
                        \ a celebratory New Year Eve's in this special place</li>\r\
                        \n</ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Winter
                        - Highlights~Winter Sunshine
                        - Style~Guided Group
                        - School~Science
                        "0":
                        - Holiday Type
                        - Highlights
                        - Style
                        - School
                      locations:
                        Country:
                        - Sweden
                        Region:
                        - Europe
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 208
                      image_ids:
                      - 01h8xxsryy0xh4ns7g50x0yd11
                      - 01h8xxsk5m4gt6r785s7b24x1n
                      - 01h8xxswkqs3kybhrcwxjdzpg8
                      - 01h8xxssqpdpmvf4a3cq7y96eb
                      - 01h8xxt0bdj5jxd7j2gx936hak
                      - 01h8y4bjq1eq2k5vp29pzrv8ep
                      - 01h8xxsq1zh5yg6x3tjr2nzpch
                      - 01h8xxt5191ma69z3ky0m26s44
                      - 01h8xxskz3dy46nmafk6865q26
                      - 01h8xxt0ze8n058psedjen0gwr
                      - 01h8xxst3tdyd5wt3f4mqk40ye
                      - 01h8xxsnejpjwgdegaa21dfgcw
                      - 01h8xxsms64ercphghmn4nck4v
                      - 01h8xxsjj7t43950vvt2dcbd9h
                      - 01h8xxshy1571kkscxcxwg3gbb
                      - 01h8xxsr75xxr4cxq6rer9atrn
                      - 01h8xxsxd9tcw0pg1p0tpfyv82
                      - 01h8y4bj8402tvv8sssby3n1f2
                      - 01h8kwy24gfr65tacvfb0c5wgj
                      - 01h8y4bhsbarsbxn8b1kgwjhv2
                      - 01h8xxsvekjvkxpx26xa1t5jd3
                      - 01h8xxt5segh2asp9ame61zrd5
                      - 01h8xxt423c61pt4t9vt5g3n1d
                      - 01h8xxt716ajtrhq8qf66h3ba4
                      - 01h8xxt3gs6r5y89tkvgkdrfgw
                      - 01h8xxt29te9rs7ddygwgyypjh
                      - 01h8xxt2yhhh0gm2axpsytjhwg
                      - 01h8xxszwafbm8mcpce4b8krtt
                      - 01h8xxshdma2e76tyfh4d73q98
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 7
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h76yx9dwgjtzb8cmg8zcz
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2023-12-17T00:00:00.000000Z
                                lte: 2023-12-22T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1845.00"
                                GBP:
                                - "1475.00"
                                - "1995.00"
                                USD:
                                - "2020.00"
                              custom_fields:
                                tz3_id: 23161
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h771wn3gy7y83kv29crcq
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2023-12-23T00:00:00.000000Z
                                lte: 2023-12-28T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1870.00"
                                GBP:
                                - "1495.00"
                                - "1975.00"
                                USD:
                                - "2050.00"
                              custom_fields:
                                tz3_id: 23162
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7755xc1gk8c9qk565qns
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2023-12-28T00:00:00.000000Z
                                lte: 2024-01-02T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1910.00"
                                GBP:
                                - "1525.00"
                                - "2175.00"
                                USD:
                                - "2090.00"
                              custom_fields:
                                tz3_id: 26873
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h778j37zjqbg9g9ma0tbx
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2024-02-11T00:00:00.000000Z
                                lte: 2024-02-16T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1845.00"
                                GBP:
                                - "1475.00"
                                - "1955.00"
                                USD:
                                - "2020.00"
                              custom_fields:
                                tz3_id: 26874
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h77btnab8v46fnc7e1efy
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2024-02-18T00:00:00.000000Z
                                lte: 2024-02-23T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1845.00"
                                GBP:
                                - "1475.00"
                                - "1955.00"
                                USD:
                                - "2020.00"
                              custom_fields:
                                tz3_id: 27625
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h77etkg1mn5x82b8hsegm
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2024-03-28T00:00:00.000000Z
                                lte: 2024-04-02T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1845.00"
                                GBP:
                                - "1475.00"
                                - "1955.00"
                                USD:
                                - "2020.00"
                              custom_fields:
                                tz3_id: 26875
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h77j2qpbj3wsx7j4h2ngq
                            _score: 1
                            _routing: holiday-01h93h7664scfsc6b2e1dj91fv
                            _source:
                              type: departure
                              name: Winter Wonderland Arctic Family Adventure
                              code: FSW
                              rel:
                                name: departure
                                parent: holiday-01h93h7664scfsc6b2e1dj91fv
                              published: true
                              dates:
                                gte: 2024-04-02T00:00:00.000000Z
                                lte: 2024-04-07T00:00:00.000000Z
                              duration: 5
                              lead_prices:
                                EUR:
                                - "1785.00"
                                GBP:
                                - "1425.00"
                                - "1905.00"
                                USD:
                                - "1955.00"
                              custom_fields:
                                tz3_id: 26876
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                    calculated:
                      lead_price:
                      - "1425.00"
                      - "1905.00"
                      months_of_operation:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h77pn530wpd31h80cs437
                    _score: 0
                    _routing: holiday-01h93h77pn530wpd31h80cs437
                    _source:
                      name: Self-Guided Walking in Japan
                      code: SGJP
                      description: "<ul>\r\n<li>Ride the famous Shinkansen bullet\
                        \ train</li>\r\n<li>Walk in the footsteps of Samurai warriors\
                        \ on the Nakasendo Trail</li>\r\n<li>Make a pilgrimage along\
                        \ the sacred Kumano Kodo Trail to Osaka</li>\r\n<li>Discover\
                        \ Tokyo, Kyoto and Osaka with the option to add your own private\
                        \ guide</li>\r\n</ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Trek & Walk
                        - Highlights~Pilgrimage
                        - Highlights~Adventures for Foodies
                        "0":
                        - Holiday Type
                        - Highlights
                        - Highlights
                      locations:
                        Country:
                        - Japan
                        Region:
                        - Asia
                        Location:
                        - Kyoto
                        - Tokyo
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 1296
                      image_ids:
                      - 01h8y71dxk4xdkq9sg84jjb6km
                      - 01h8y71jmfzt0tgf669zbdbk3c
                      - 01h8y71ecpvjtvxh1gecemb81a
                      - 01h8y71ftjj9pqpdnb3cej7phs
                      - 01h8y71fdqxfd718r799pp94kw
                      - 01h8y71f78w4kz79wne6fs3t35
                      - 01h8y71fkvx70w2g677dzvq8pw
                      - 01h8y71dqk2jsjgmjrt3r389pk
                      - 01h8y71j98p4r2d7kpjjgwc654
                      - 01h8y71gt48w86146ngd13qz8t
                      - 01h8y71j0f1f8p5j3vzqhqbcfh
                      - 01h8y71ezyshbdbmsen97n2xj5
                      - 01h8y71hptfztd86pq4m20qtb2
                      - 01h8y71d9nknhfg61ere1f48qs
                      - 01h8y71hg2bnkh29qe07r053zs
                      - 01h8y71dfn5nk7scx4zzwt1qcf
                      - 01h8y71h7erme8nv82ag3cpgp4
                      - 01h8y71ghm5h0mrf00j0kxzxjx
                      - 01h8y71jzxqwxg914b2vj312g8
                      - 01h8y71g9r7ehe69gnyknew372
                      - 01h8y71g300j16rsyzmvmz1dsb
                      - 01h8y71erw039wt37xwnwy2722
                      - 01h8y71ejp7xsnaatd65qpff3v
                      - 01h8y71e4djg4teffzhjn5v6gp
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 6
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h78tyd9tc2brx7c2c81ev
                            _score: 1
                            _routing: holiday-01h93h77pn530wpd31h80cs437
                            _source:
                              type: departure
                              name: Self-Guided Walking in Japan
                              code: SGJP
                              rel:
                                name: departure
                                parent: holiday-01h93h77pn530wpd31h80cs437
                              published: true
                              dates:
                                gte: 2024-01-01T00:00:00.000000Z
                                lte: 2024-04-26T00:00:00.000000Z
                              duration: 116
                              lead_prices:
                                EUR:
                                - "4365.00"
                                GBP:
                                - "3490.00"
                                USD:
                                - "4715.00"
                              custom_fields:
                                tz3_id: 28466
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h78ycsw2k392k1q7bcgga
                            _score: 1
                            _routing: holiday-01h93h77pn530wpd31h80cs437
                            _source:
                              type: departure
                              name: Self-Guided Walking in Japan
                              code: SGJP
                              rel:
                                name: departure
                                parent: holiday-01h93h77pn530wpd31h80cs437
                              published: true
                              dates:
                                gte: 2024-04-27T00:00:00.000000Z
                                lte: 2024-05-12T00:00:00.000000Z
                              duration: 15
                              lead_prices:
                                EUR:
                                - "5225.00"
                                GBP:
                                - "4180.00"
                                USD:
                                - "5645.00"
                              custom_fields:
                                tz3_id: 28467
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h791tgqgeg18smq3z8wte
                            _score: 1
                            _routing: holiday-01h93h77pn530wpd31h80cs437
                            _source:
                              type: departure
                              name: Self-Guided Walking in Japan
                              code: SGJP
                              rel:
                                name: departure
                                parent: holiday-01h93h77pn530wpd31h80cs437
                              published: true
                              dates:
                                gte: 2024-05-13T00:00:00.000000Z
                                lte: 2024-08-12T00:00:00.000000Z
                              duration: 91
                              lead_prices:
                                EUR:
                                - "4365.00"
                                GBP:
                                - "3490.00"
                                USD:
                                - "4715.00"
                              custom_fields:
                                tz3_id: 28468
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h79795sr40nhgqwe2qmcb
                            _score: 1
                            _routing: holiday-01h93h77pn530wpd31h80cs437
                            _source:
                              type: departure
                              name: Self-Guided Walking in Japan
                              code: SGJP
                              rel:
                                name: departure
                                parent: holiday-01h93h77pn530wpd31h80cs437
                              published: true
                              dates:
                                gte: 2024-08-22T00:00:00.000000Z
                                lte: 2024-12-31T00:00:00.000000Z
                              duration: 131
                              lead_prices:
                                EUR:
                                - "4365.00"
                                GBP:
                                - "3490.00"
                                USD:
                                - "4715.00"
                              custom_fields:
                                tz3_id: 28470
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h794n2ham1xp2fr27cs8j
                            _score: 1
                            _routing: holiday-01h93h77pn530wpd31h80cs437
                            _source:
                              type: departure
                              name: Self-Guided Walking in Japan
                              code: SGJP
                              rel:
                                name: departure
                                parent: holiday-01h93h77pn530wpd31h80cs437
                              published: true
                              dates:
                                gte: 2024-08-13T00:00:00.000000Z
                                lte: 2024-08-21T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "5225.00"
                                GBP:
                                - "4180.00"
                                USD:
                                - "5645.00"
                              custom_fields:
                                tz3_id: 28469
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h799wsjjy59v76jev54cf
                            _score: 1
                            _routing: holiday-01h93h77pn530wpd31h80cs437
                            _source:
                              type: departure
                              name: Self-Guided Walking in Japan
                              code: SGJP
                              rel:
                                name: departure
                                parent: holiday-01h93h77pn530wpd31h80cs437
                              published: true
                              dates:
                                gte: 2024-12-31T00:00:00.000000Z
                                lte: 2025-01-14T00:00:00.000000Z
                              duration: 14
                              lead_prices:
                                EUR:
                                - "4365.00"
                                GBP:
                                - "3490.00"
                                USD:
                                - "4715.00"
                              custom_fields:
                                tz3_id: 28465
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                    calculated:
                      lead_price:
                      - "3490.00"
                      months_of_operation:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h7chpsj39by7f3necthea
                    _score: 0
                    _routing: holiday-01h93h7chpsj39by7f3necthea
                    _source:
                      name: Best of Northern India
                      code: BON
                      description: "<ul>\r\n<li>Explore the majestic forts, palaces,\
                        \ temples of Rajasthan</li>\r\n<li>Experience an unforgettable\
                        \ sunrise over the beautiful Taj Mahal at Agra</li>\r\n<li>Take\
                        \ a boat on the Ganges to experience dawn break over Varanasi</li>\r\
                        \n<li>Observe an abundance of wildlife at Ranthambore Tiger\
                        \ Reserve</li>\r\n</ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Discovery
                        "0":
                        - Holiday Type
                      locations:
                        Country:
                        - India
                        Region:
                        - Asia
                        Location:
                        - Rajasthan
                        - Taj Mahal
                        - Varanasi
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 281
                      image_ids:
                      - 01h8y5vfvn3kj2caf40ng87gcj
                      - 01h8y5van1grv5av77990e0sfq
                      - 01h8y5v2k21r89vadm146v9w44
                      - 01h8y5v4gk8gdeecyx0za8nqtx
                      - 01h8y5ve7k54crz2a16fdtgmhz
                      - 01h8y5vdhb8bjw51t54g5ew1vh
                      - 01h8y5v50avkb8qkhk7whtjczm
                      - 01h8y5v9kr927g7r2bnr5f9600
                      - 01h8y5vctb2stccwkvy4855ad7
                      - 01h8y5vbgnz0bwc0jvk5jzfgdd
                      - 01h8y5vc35ag1cbscsks787ndh
                      - 01h8y5vgtkkdn7smvgj9qndmmr
                      - 01h8y5v7cqgmetcx093yqv5gmv
                      - 01h8y5v6fsat1e2x3td85yjgyq
                      - 01h8y5v31r90357da14zfdcm38
                      - 01h8y5vf0657cj5hxgybqpavgd
                      - 01h8y5v86bsmbdxp1e15em9xp8
                      - 01h8y5v3hagfa3czd4ebjtd2kp
                      - 01h8y5v9035ngfm0zstghg1ecc
                      - 01h8y5v5qy3e0qckescb3bmfk8
                      - 01h8y5v445q3a6sp51wxgyjq5q
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 10
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7dygnpxrjqhn0zqthcbd
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2023-10-22T00:00:00.000000Z
                                lte: 2023-10-30T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1310.00"
                                GBP:
                                - "1045.00"
                                - "2365.00"
                                USD:
                                - "1440.00"
                              custom_fields:
                                tz3_id: 23686
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7e1z6cq00kxnnngrcksg
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2023-11-19T00:00:00.000000Z
                                lte: 2023-11-27T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1310.00"
                                GBP:
                                - "1045.00"
                                - "2105.00"
                                USD:
                                - "1440.00"
                              custom_fields:
                                tz3_id: 23687
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7e4wfkr7h63v28gfdv7t
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2023-12-03T00:00:00.000000Z
                                lte: 2023-12-11T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1310.00"
                                GBP:
                                - "1045.00"
                                - "2020.00"
                                USD:
                                - "1440.00"
                              custom_fields:
                                tz3_id: 23688
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7e70sdnne0z22zsbqagq
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2023-12-19T00:00:00.000000Z
                                lte: 2023-12-27T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1470.00"
                                GBP:
                                - "1175.00"
                                - "2275.00"
                                USD:
                                - "1615.00"
                              custom_fields:
                                tz3_id: 23689
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7e936n9rgt4jp6tqepza
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2024-02-11T00:00:00.000000Z
                                lte: 2024-02-19T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1245.00"
                                GBP:
                                - "995.00"
                                - "1995.00"
                                USD:
                                - "1370.00"
                              custom_fields:
                                tz3_id: 26818
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7eb6jnft7x9yn78ts282
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2024-03-31T00:00:00.000000Z
                                lte: 2024-04-08T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1245.00"
                                GBP:
                                - "995.00"
                                - "2095.00"
                                USD:
                                - "1370.00"
                              custom_fields:
                                tz3_id: 26819
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7edbrkmtp6qpetnk828k
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2024-10-20T00:00:00.000000Z
                                lte: 2024-10-28T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1310.00"
                                GBP:
                                - "1045.00"
                                - "1845.00"
                                USD:
                                - "1440.00"
                              custom_fields:
                                tz3_id: 26820
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7efhrjgw5hthk3v9n25q
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2024-11-17T00:00:00.000000Z
                                lte: 2024-11-25T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1310.00"
                                GBP:
                                - "1045.00"
                                - "1845.00"
                                USD:
                                - "1440.00"
                              custom_fields:
                                tz3_id: 26821
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7ehqr6v7c2nhrbjb3dkr
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2024-12-01T00:00:00.000000Z
                                lte: 2024-12-09T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1310.00"
                                GBP:
                                - "1045.00"
                                - "1845.00"
                                USD:
                                - "1440.00"
                              custom_fields:
                                tz3_id: 26822
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7ekw95w1rszat4z757ac
                            _score: 1
                            _routing: holiday-01h93h7chpsj39by7f3necthea
                            _source:
                              type: departure
                              name: Best of Northern India
                              code: BON
                              rel:
                                name: departure
                                parent: holiday-01h93h7chpsj39by7f3necthea
                              published: true
                              dates:
                                gte: 2024-12-19T00:00:00.000000Z
                                lte: 2024-12-27T00:00:00.000000Z
                              duration: 8
                              lead_prices:
                                EUR:
                                - "1470.00"
                                GBP:
                                - "1175.00"
                                - "2175.00"
                                USD:
                                - "1615.00"
                              custom_fields:
                                tz3_id: 26823
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                    calculated:
                      lead_price:
                      - "995.00"
                      - "1995.00"
                      months_of_operation:
                      - 2
                      - 3
                      - 4
                      - 10
                      - 11
                      - 12
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h7kegysvmms944r95krg9
                    _score: 0
                    _routing: holiday-01h93h7kegysvmms944r95krg9
                    _source:
                      name: "Self-Guided Cycling: Alicante to Valencia"
                      code: SGAV
                      description: "<ul>\r\n<li>Cycle through mountain landscapes\
                        \ to the vineyards of Xalo</li>\r\n<li>Discover the beauty\
                        \ and wildlife of the Marjal de Oliva-Pego and Albufera Natural\
                        \ Parks</li>\r\n<li>Feast on Spains national dish, Paella,\
                        \ in the place it was first created</li>\r\n<li>Explore Valencia,\
                        \ home to the Holy Grail and fall in love with this cultural\
                        \ city</li>\r\n</ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Cycling
                        - Activities~Swimming
                        "0":
                        - Holiday Type
                        - Activities
                        - Style
                      locations:
                        Country:
                        - Spain
                        Region:
                        - Europe
                        Location:
                        - Costa Blanca
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 1293
                      image_ids:
                      - 01h8y6zd4qq1ana314z9yvkxe0
                      - 01h8y6za8k2dd5ach9p5gc8q2f
                      - 01h8y6zbvcj1bd5j3h04ryz8y9
                      - 01h8y6z9wwc0knxkf4we9wpq0t
                      - 01h8y6zbn1a9k4ja7b0axx24kf
                      - 01h8y6zcerchdc20zdf9d4hvvg
                      - 01h8y6zcnf125kg54awsj15atj
                      - 01h8y6z9qhcckwmjkrtvr9mj43
                      - 01h8y6zcwzdybxr3b20sf5kjrc
                      - 01h8y6z98htvdckcsyhagm7b26
                      - 01h8y6zca2h6fkp5v04xcygsf7
                      - 01h8y6za3a74rm6cqg3kv7czzy
                      - 01h8y6z8kff9qm3mp22xe92xvb
                      - 01h8y6zbb9bj8x5vvbh0ag37qd
                      - 01h8y6zb3cvf4ypab8kz2kqwh0
                      - 01h8y6zc2zaww54njtkw66kqnw
                      - 01h8y6zav62vb0xcc475n2fj25
                      - 01h8y6zdbe4h2rxma4w0pj8e51
                      - 01h8y6zam9jgq8t773h0d9qkqb
                      - 01h8y6zae6b85jmnnxwc1kg72k
                      - 01h8y6z9g9nrh1h96jqpcjkb5m
                      - 01h8y6z8ry967d9w4ahq2dnkxj
                      - 01h8y6z90f71xgsjm2a29mnsfx
                      - 01h8y6z8cjcftb7dxfrsb6hzkf
                      - 01h8y6z86vs86nnktskbpz9vfg
                      - 01h8y6z80gzx9q1ap1ev3dhr9x
                      - 01h8y6z7t9sjpg14tsaw7qry9s
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 7
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7m2q57jj61nwzkrwnb2t
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2024-06-01T00:00:00.000000Z
                                lte: 2024-06-30T00:00:00.000000Z
                              duration: 29
                              lead_prices:
                                EUR:
                                - "1635.00"
                                GBP:
                                - "1305.00"
                                USD:
                                - "1765.00"
                              custom_fields:
                                tz3_id: 28350
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7m4x4ev5q5bpszbk52y2
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2024-10-01T00:00:00.000000Z
                                lte: 2024-11-15T00:00:00.000000Z
                              duration: 45
                              lead_prices:
                                EUR:
                                - "1515.00"
                                GBP:
                                - "1210.00"
                                USD:
                                - "1635.00"
                              custom_fields:
                                tz3_id: 28352
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7m1jyg8tty4n5gq9wjpa
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2024-03-20T00:00:00.000000Z
                                lte: 2024-05-31T00:00:00.000000Z
                              duration: 72
                              lead_prices:
                                EUR:
                                - "1515.00"
                                GBP:
                                - "1210.00"
                                USD:
                                - "1635.00"
                              custom_fields:
                                tz3_id: 28349
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7m3tprf544wnr8fctev5
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2024-09-01T00:00:00.000000Z
                                lte: 2024-09-30T00:00:00.000000Z
                              duration: 29
                              lead_prices:
                                EUR:
                                - "1635.00"
                                GBP:
                                - "1305.00"
                                USD:
                                - "1765.00"
                              custom_fields:
                                tz3_id: 28351
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7kz12k9es0w2ygp1t26q
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2023-10-01T00:00:00.000000Z
                                lte: 2023-11-15T00:00:00.000000Z
                              duration: 45
                              lead_prices:
                                EUR:
                                - "1515.00"
                                GBP:
                                - "1210.00"
                                USD:
                                - "1635.00"
                              custom_fields:
                                tz3_id: 28348
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7kxxexewhghbjnd02rtj
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2023-09-01T00:00:00.000000Z
                                lte: 2023-09-30T00:00:00.000000Z
                              duration: 29
                              lead_prices:
                                EUR:
                                - "1635.00"
                                GBP:
                                - "1305.00"
                                USD:
                                - "1765.00"
                              custom_fields:
                                tz3_id: 28347
                                is_private: false
                              kind: fixed_duration
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7m06xxthm7k5gk51ye7k
                            _score: 1
                            _routing: holiday-01h93h7kegysvmms944r95krg9
                            _source:
                              type: departure
                              name: "Self-Guided Cycling: Alicante to Valencia"
                              code: SGAV
                              rel:
                                name: departure
                                parent: holiday-01h93h7kegysvmms944r95krg9
                              published: true
                              dates:
                                gte: 2023-11-16T00:00:00.000000Z
                                lte: 2023-11-22T00:00:00.000000Z
                              duration: 6
                              lead_prices:
                                EUR:
                                - "1515.00"
                                GBP:
                                - "1210.00"
                                USD:
                                - "1635.00"
                              custom_fields:
                                tz3_id: 28342
                                is_private: false
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                    calculated:
                      lead_price:
                      - "1210.00"
                      months_of_operation:
                      - 3
                      - 4
                      - 5
                      - 6
                      - 9
                      - 10
                      - 11
                  - _index: tours-rezkit-v2023.08.30_15.59.20
                    _id: holiday-01h93h7m67qscq2j34pdvg8stb
                    _score: 0
                    _routing: holiday-01h93h7m67qscq2j34pdvg8stb
                    _source:
                      name: Self-Guided Walking on Madeira
                      code: SGMA
                      description: "<ul>\r\n<li>Walk along the Levada do Norte, the\
                        \ oldest and longest levada on Madeira</li>\r\n<li>Discover\
                        \ the fascinating high pitched Madeiran houses of Santana</li>\r\
                        \n<li>Walk upon Paul da Serra Plateau some 1500m above the\
                        \ coast for breath-taking panoramas</li>\r\n<li>Explore the\
                        \ botanical gardens of Monte, a festival of colour</li>\r\n\
                        </ul>"
                      published: true
                      type: holiday
                      rel:
                        name: holiday
                      duration: []
                      categories:
                        "1":
                        - Holiday Type~Trek & Walk
                        - Educational~History
                        "0":
                        - Holiday Type
                        - Educational
                      locations:
                        Country:
                        - Madeira
                        - Portugal
                        Region:
                        - Europe
                      organization_id: 01h90c44kh5h92qykyqdjh5htn
                      custom_fields:
                        tz3_id: 959
                      image_ids:
                      - 01h8y2ypk1hbr38ayk125e56bp
                      - 01h8y2yb6wg9hk7xshgqekb19v
                      - 01h8y2yjdn3s4640hqet0acp26
                      - 01h8y2yd38hbt8nwe0avrjnqqr
                      - 01h8y2yc702hfxkp3pnecp7906
                      - 01h8y2yezbp9fadwd28vvs7nmt
                      - 01h8y2ygp4a4pf0b0crac9ymnv
                      - 01h8y4sh8vmbhrxgq6qdd1g6gg
                      - 01h8y2y9k1sqy2egvg34chg9ty
                      - 01h8y2yhgyyfszt66s8j7nvs93
                      - 01h8y4t9zz3trsrg38b7bf1xmz
                      - 01h8y2yfwr0wmh8y43z0x816cc
                      - 01h8y2ye5atkc4ayap1er8q3qx
                      - 01h8y4t9qtenetez4fv5nv7a9a
                      - 01h8y2ydekn7hya3ms5bgvk412
                      - 01h8y2yce3mscmhng8hrmgg6rm
                      - 01h8y4shra9cj3x2jren3tgw8c
                      - 01h8y2ybxrmzacrvz61rjxxqhy
                      - 01h8y2yac8ytw87gm586wf7aef
                      - 01h8y2ya2pq6wc1vyj5c5hfhgc
                      - 01h8y2y9r9gajweepevhb8gk6f
                      - 01h8y4shfgeg0nmqg2g47jry77
                      - 01h8y2ykbs1sgc8b7z5fhfvg6f
                    inner_hits:
                      departure:
                        hits:
                          total:
                            value: 15
                            relation: eq
                          max_score: 1
                          hits:
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7pcqp5t3jmn79858as6k
                            _score: 1
                            _routing: holiday-01h93h7m67qscq2j34pdvg8stb
                            _source:
                              type: departure
                              name: Self-Guided Walking on Madeira
                              code: SGMA
                              rel:
                                name: departure
                                parent: holiday-01h93h7m67qscq2j34pdvg8stb
                              published: true
                              dates:
                                gte: 2023-10-07T00:00:00.000000Z
                                lte: 2023-10-14T00:00:00.000000Z
                              duration: 7
                              lead_prices:
                                EUR:
                                - "1135.00"
                                GBP:
                                - "905.00"
                                USD:
                                - "1250.00"
                              custom_fields:
                                tz3_id: 28110
                                is_private: true
                              kind: fixed
                              organization_id: 01h90c44kh5h92qykyqdjh5htn
                          - _index: tours-rezkit-v2023.08.30_15.59.20
                            _id: departure-01h93h7p7cf0dypqab6y1fw94m
                            _score: 1
                            _routing: holiday-01h93h7m67qscq2j34pdvg8stb
                            _source:
                              type: departure
                              name: Self-Guided Walking on Madeira
                              code: SGMA
                              rel:
                                name: departure
                                parent: holiday-01h93h7m67qscq2j34pdvg8stb
                              published: true
                              dates:
                                gte: 2023-09-12T00:00:00.000000Z
                                lte: 2023-09-19T00:00:00.000000Z
                              duration: 7
                              lead_prices:
                                EUR:
                                - "1250.00"
                                GBP:
                                - "999.00"
                                USD:
                                - "1350.00"
                              custom_fields:
                                tz3_id: 27705
                                is_private: true
                              kind: fixed
[...]
